/*--------------HEADER---------------*/
body{
  background-color: #F7EBC7;
}
.section_accueil{
  margin-left: 16% !important;
  margin-top: 10vh;
  width: max-content;
}

#search {
  margin-bottom: 0; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  box-sizing: border-box; 
  
}

.input-field {
  position: relative; 
  margin-bottom: 5vh; 

}

#search-results li{
  width: 100%;
  font-size: 120%;
  border-bottom: solid 1px #3f673060;
}

#search-results li:hover{
  background-color: #3f673060;
  cursor: pointer;
}

.label-icon i{
  color: #9FC490 !important;
  margin-top: -22px;
}

.lien_menu_navbar{
  min-height: 81px !important;
}

.search {
  line-height: 0.8 !important;
  color: #9fc490 !important;
  margin-left:  40%;
  padding-right: 2vh;
}

.nav-wrapper{
  background-color: #578f43;


}

.logo_site{
  margin-left: 1%;

  width: 70px;
  margin-top: 0;
}

header img{
 width: 40px;
 margin-top: 2.5vh;

}

.img_menu{
  width: 45px;
  margin-top: 0;
}

.img_recette{
  margin-top: 0;
  width: 60px;
 padding-left: 0;
}

.navbar_favoris{
  color: #578f43 !important;
}

.navbar2{
  height: 6vh;
}

#search-button{
  border: none;
  background-color: white;
  top: 5px;
}

#search-results {
  position: absolute; /* Modifier la position en absolute */
  top: 100%; /* Positionner les résultats en dessous de la barre de recherche */
  left: 0;
  width: 100%;
  background-color: #60914e !important;
  z-index: 10;
}

/*---------------------------------------------------------------------------*/
/*--------------HEADER---------------*/

/* Section d'accueil */
.section_accueil {
  margin-left: 16% !important; /* Marge à gauche */
  margin-top: 10vh; /* Marge en haut */
  width: max-content; /* Largeur maximale du contenu */
}

/* Style pour la recherche */
.search {
  color: #9FC490 !important; /* Couleur du texte de la recherche */
}

/* Barre de navigation */
.nav-wrapper {
  background-color: #9FC490; /* Couleur de fond de la barre de navigation */
}

/* Liens dans l'en-tête */
header a {
  text-decoration: none; /* Suppression du soulignement des liens */
}

/* Menu déroulant pour les favoris */
.fav_dropdown {
  width: 15px; /* Largeur du menu déroulant des favoris */
}

/* Corps de la page */
body {
  background-color: #edcf7465; /* Couleur de fond du corps de la page */
}

/* Conteneur principal */
main {
  margin-top: 10px; /* Marge en haut */
}

/*-----------Accueil-----------*/

/* Section d'accueil */
.accueil {
  height: 720px; /* Hauteur de la section */
  justify-content: center; /* Centrage vertical */
  display: flex; /* Affichage en ligne */
}

/* Conteneur de texte avec effet de verre */
.glass {
  background-color: #ffffff7e; /* Couleur de fond avec opacité */
  display: flex; /* Affichage en ligne */
  flex-direction: column; /* Empilement vertical des éléments */
  align-items: center; /* Centrage horizontal */
  position: absolute; /* Position absolue */
  margin-top: 350px; /* Marge en haut */
  width: 50%; /* Largeur */
  padding: 40px; /* Espacement intérieur */
  border-radius: 5px; /* Rayon de la bordure */
  backdrop-filter: blur(5px); /* Effet de flou pour le verre */
}

/* Style pour les icônes rondes */
.rond {
  width: 50px; /* Largeur */
  height: 50px; /* Hauteur */
  border-radius: 20px; /* Rayon de la bordure */
  margin-right: 15px; /* Marge à droite */
}

/* Liste des éléments */
.collection {
  margin: 0; /* Annulation des marges */
}

/* Élément individuel de la collection */
.collection-item {
  text-decoration: none; /* Suppression du soulignement */
}



