body{
    background-color: #edcf7465;
}

main{
    margin-top: 100px;
}

/*-----------Accueil-----------*/

.accueil{
    background: url('../img/accueil-menu.jpeg') center center no-repeat;
    height: 720px;
    justify-content: center;
    display: flex;
}

.glass{
    background-color: #ffffff7e;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 350px;
    width: 50%;
    padding: 40px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
}

.rond{
	width: 50px;
	height: 50px;
	border-radius: 20px;
	margin-right: 15px;
}

.collection{
	margin: 0;
}

.collection-item{
	text-decoration: none;
}

/*--------------------MENU------------------*/

.menu{
	margin-top: 100px;
}

.resetMenu{
	border-radius: 10px;
	background-color: #26A69A;
	padding: 20px;
}

.titreMenu{
	display: flex;
	justify-content: space-between;
}

/*---------------TABLEAU--------------------*/

table td, th{
	border: 2px solid black;
	text-align: center;
}

thead{
	background-color: #202124;
	color: white;
}

table img:not(.resetMenu img){
	height: 100px;
	margin-right: 10px;
	border-radius: 10px;
	border: 4px solid #1F2023;
}

.resetMenu{
	padding: 5px;
	cursor: pointer;
}

.resetMenu img{
	width: 40px;
	height: 40px;
}

.tabData{
	display: flex;
	align-items: center;
}

#dropdown1{
	min-width: 150px;
}

