.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card{
    min-width: 20%;
    min-height: 455px;
}

.paginationBox{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/*Pages*/



